<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">Filter</h1>
</div>
<form class="user">
    <div class="form-group row">
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Pick-up Date">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Pick-up Time">
        </div>
        <div class="col-sm-3">
            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Drop-off Date">
        </div>
        <div class="col-sm-3">
            <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Drop-off Time">
        </div>
    </div>
    <div class="form-group row pt-2">
        <div class="col-sm-2">
            <div class="custom-control custom-checkbox medium">
                <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">Air Conditioning</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-control custom-checkbox medium">
                <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">No amendment fees</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-control custom-checkbox medium">
                <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">Automatic</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-control custom-checkbox medium">
                <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">Vehicle Coverage</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="custom-control custom-checkbox medium">
                <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">Online Payment</label>
            </div>
        </div>
        <div class="col-sm-2">
            <a href="login.html" class="btn btn-primary btn-user btn-block">
                Search
            </a>
        </div>
    </div>
</form>