<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow w-100">
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa-icon [icon]="faUser"></fa-icon>
                <span class="pl-2 mr-2 d-none d-lg-inline text-gray-600 small">User</span>
            </a>
        </li>

    </ul>

</nav>