<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">Filtro</h1>
</div>
<form class="user" (ngSubmit)="onSearch()" [formGroup]="filterForm">
    <div class="form-group row">
        <div class="col-sm-4">
            <input formControlName="cor" type="text" class="form-control form-control-user" id="exampleFirstName"
                placeholder="Cor">
        </div>
        <div class="col-sm-4">
            <input formControlName="marca" type="text" class="form-control form-control-user" id="exampleLastName"
                placeholder="Marca">
        </div>
        <div class="col-sm-4">
            <input formControlName="modelo" type="password" class="form-control form-control-user"
                id="exampleInputPassword" placeholder="Modelo">
        </div>
    </div>
    <div class="form-group row pt-2 d-flex">
        <div class="col-sm-4">
            <div class="custom-control custom-checkbox medium">
                <input formControlName="arCondicionado" type="checkbox" class="custom-control-input"
                    id="arCondicionado">
                <label class="custom-control-label" for="arCondicionado">Ar Condicionado</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="custom-control custom-checkbox medium">
                <input formControlName="automatico" type="checkbox" class="custom-control-input" id="automatico">
                <label class="custom-control-label" for="automatico">Automático</label>
            </div>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Search
            </button>
        </div>
    </div>
</form>

<div *ngIf='veiculos.length > 0'>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Veículos</h1>
    </div>

    <div class="car-list">
        <div class="row">
            <div *ngFor="let veiculo of veiculos" class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-150 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-md-6">
                                <div class="text-md font-weight-bold text-uppercase mb-1">
                                    {{ veiculo.marca }} {{ veiculo.modelo }}
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <img src="./assets/images/hyundai_hb20-2020-2021.png">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>{{ veiculo.cor }}</li>
                                    <li *ngIf="veiculo.automatico">Automatico</li>
                                    <li *ngIf="veiculo.arCondicionado">Ar condicionado</li>
                                    <li>{{ veiculo.preco | currency:'R$' }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-12 d-flex w-100 justify-content-center">
                                <button *ngIf="veiculo.tipoOperacao === 'Venda'"
                                    class="btn btn-lg btn-block text-center w-20 btn-primary"
                                    (click)="open(content, veiculo)">Comprar
                                </button>
                                <button *ngIf="veiculo.tipoOperacao === 'Aluguel'" class="btn btn-block btn-lg btn-primary"
                                    (click)="open(content, veiculo)">Alugar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf='veiculos.length === 0'>
    <div class="d-sm-flex align-items-center mb-4 justify-content-center pt-4">
        <p class="mb-0 text-gray-800">Nenhum veículo para mostrar.</p>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 *ngIf="veiculoModal.tipoOperacao === 'Venda'" class="modal-title" id="modal-basic-title">Comprar</h4>
        <h4 *ngIf="veiculoModal.tipoOperacao === 'Aluguel'" class="modal-title" id="modal-basic-title">Alugar</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="modalForm" (ngSubmit)="onOperacao()">
        <div *ngIf="veiculoModal.tipoOperacao === 'Aluguel'" class="modal-body">
            <div class="form-group">
                <div class="input-group">
                    <div class="row">
                        <div class="col-md-12 pb-3">
                            <input formControlName="dataRetirada" type="text" class="form-control form-control-user"
                                id="dataRetirada" placeholder="Data Retirada (YYYY-mm-dd)">
                        </div>
                        <div class="col-md-12 pb-3">
                            <input formControlName="horaRetirada" type="text" class="form-control form-control-user"
                                id="horaRetirada" placeholder="Hora Retirada (HH:mm:ss)">
                        </div>
                        <div class="col-md-12 pb-3">
                            <input formControlName="dataEntrega" type="text" class="form-control form-control-user"
                                id="dataEntrega" placeholder="Data Entrega (YYYY-mm-dd)">
                        </div>
                        <div class="col-md-12 pb-3">
                            <input formControlName="horaEntrega" type="text" class="form-control form-control-user"
                                id="horaEntrega" placeholder="Hora Entrega (HH:mm:ss)">
                        </div>
                        <div class="col-md-12">
                            <input formControlName="nomeAluguel" type="text" class="form-control form-control-user"
                                id="nome" placeholder="Nome">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="veiculoModal.tipoOperacao === 'Venda'" class="modal-body">
            <div class="form-group">
                <div class="input-group">
                    <div class="row w-100">
                        <div class="col-md-12">
                            <input formControlName="nome" type="text" class="form-control form-control-user" id="nome"
                                placeholder="Nome">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="veiculoModal.tipoOperacao === 'Venda'" type="submit" class="btn btn-outline-dark"
                (click)="modal.close('Save click')">Comprar</button>
            <button *ngIf="veiculoModal.tipoOperacao === 'Aluguel'" type="submit" class="btn btn-outline-dark"
                (click)="modal.close('Save click')">Alugar</button>
        </div>
    </form>
</ng-template>